---
layout: page
tags: [gsoc, google summer of code]
---
<div class="line"></div>
<div class="space"></div>
<h1 style="text-align: center; color: #000">Google Summer of Code 2014</h1>
<div class="post" style="width: 1084px; margin: 16px auto auto auto">
	{% markdown about.md %}
</div>
<div class="space"></div>
{% for post in site.posts limit:1 %} 
<div class="line"></div>
<div class="space"></div>
    <div class="center-text">
        <div class="inline line-height-extra" style="max-width: 800px">
        <nav class="pagination" role="navigation" style="width: 800px; height: 32px; color: #000">
      {% if post.previous %}
        <a style="float:left" href="{{ site.baseurl }}{{ post.previous.url }}#post" class="btn" title="{{ post.previous.title }}">&lsaquo; {{ post.previous.title }}</a>
      {% endif %}
      {% if post.next %}
        <a style="float:right" href="{{ site.baseurl }}{{ post.next.url }}#post" class="btn" title="{{ post.next.title }}">{{ post.next.title }} &rsaquo;</a>
      {% endif %}
    </nav><!-- /.pagination -->
  			<h2 class="extra-space-32 dark center-text"><a href="{{ site.baseurl }}{{ post.url }}#post">{{ post.title }}</a></h2>
  			<div class="space"></div>

<div role="main" class="post" style="max-width: 800px; margin: 0 auto; color: #000">
  <article class="hentry">
    {% if post.image.feature %}<img src="{{ site.baseurl }}/assets/images/{{ post.image.feature }}" class="entry-feature-image" alt="{{ post.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if post.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <!-- <span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag | cgi_encode }}" title="Pages tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span> -->
        {% if post.link %}
          <h1 class="entry-title extra-space-32 dark center-text"><a href="{{ post.link }}">{% if post.headline %}{{ post.headline }}{% else %}{{ post.title }}{% endif %} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 class="entry-title" style="font-size: 2em">{% if post.headline %}{{ post.headline }}{% else %}{{ post.title }}{% endif %}</h1>
        {% endif %}
      </header>
      <footer class="entry-meta" style="font-size: 0.8em; color: #999; padding: 0 16px">
        <!-- <img src="{{ site.baseurl }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo"> --><!-- 
        <span class="author vcard">By <span class="fn"><a class="no-style" href="{{ site.baseurl }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span> -->
        <span class="entry-date date published"><time datetime="{{ post.date | date_to_xmlschema }}"><i class="icon-calendar-empty"></i> {{ post.date | date: "%B %d, %Y" }}</time></span>
        {% if site.disqus_shortname and post.comments %}<span class="entry-comments"><i class="icon-comment-alt"></i> <a href="#disqus_thread">Comment</a></span>{% endif %}
        <!-- <span><a class="no-style" href="{{ site.baseurl }}{{ page.url }}" rel="bookmark" title="{{ page.title }}"><i class="icon-link"></i> Permalink</a></span> -->
        {% if post.share %}
        <div style="display: inline-block; height: 32px; margin-left: 32px; color: #999">
        Share via
        <span class="social-share-facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ post.url }}" title="Share on Facebook" itemprop="Facebook" class="no-style"><i class="share sprite facebook-logo"></i></a></span>
        <span class="social-share-twitter">
            <!-- The actual URL at ethe end of HREF will be added via Javascript -->
            <a class="no-style" href="https://twitter.com/intent/tweet?hashtags={{ post.categories | join: ',' }}&text={{ post.title }}&via={{ site.owner.twitter }}&url=" title="Share on Twitter" itemprop="Twitter"><i class="share sprite twitter-logo"></i></a></span>
        <span class="social-share-googleplus">
            <a class="no-style" href="https://plus.google.com/share?url=" title="Share on Google Plus" itemprop="GooglePlus"><i class="share sprite google-plus-logo"></i></a></span>
            </div><!-- /.social-share -->{% endif %}
      </footer>
      <div class="entry-content">
        {{ post.content }}
        <div class="space"></div>
        <nav class="pagination" role="navigation" style="width: 800px; height: 32px; color: #000">
      {% if post.previous %}
        <a style="float:left" href="{{ site.baseurl }}{{ post.previous.url }}#post" class="btn" title="{{ post.previous.title }}">&lsaquo; {{ post.previous.title }}</a>
      {% endif %}
      {% if post.next %}
        <a style="float:right" href="{{ site.baseurl }}{{ post.next.url }}#post" class="btn" title="{{ post.next.title }}">{{ post.next.title }} &rsaquo;</a>
      {% endif %}
    </nav><!-- /.pagination -->
    <div class="space"></div>
        {% if site.disqus_shortname and post.comments %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}
      </div><!-- /.entry-content -->

      <div class="space"></div>
    </div><!-- /.entry-wrapper -->
  </article>
</div>

  		</div>
{% endfor %}