<!-- Foooter -->
<div id="connect" tag="connect" class="container center pull-in">
    <h1 class="center">Contact</h1>
    <div id="me-contact">
        <p style="color: #000">You can mail me at <a href="mailto:hi@znck.me" class="button invert"><i class="fa fa-inbox"></i> hi@znck.me</a>
        <br>or<br>
        You can find me at
            <a href="https://facebook.com/{{ site.author.facebook }}" target="_blank" class="button invert">
                <i class="fa fa-facebook"></i> {{ site.author.facebook }}
            </a>

            <a href="https://github.com/{{ site.author.github }}" target="_blank" class="button invert">
                <i class="fa fa-github-alt"></i> {{ site.author.github }}
            </a>

            <a href="https://google.com/{{ site.author.google_plus }}" target="_blank" class="button invert">
                <i class="fa fa-google-plus"></i> {{ site.author.google_plus }}
            </a>

            <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="button invert">
                <i class="fa fa-twitter"></i> @{{ site.author.twitter }}
            </a>
        </p>
        <div class="m4"></div>
        <div>
            Copyright &copy; 2014 Rahul Kadyan. All Rights Reserved.
        </div>
    </div>    
</div>