<div class="line"></div>
<div class="center-text" id="contact">
    <h2 class="center-text dark extra-space-32">Contact</h2>

    <p>You can mail me at <span style="color: #666"><a href="mailto:mail@rahulkadyan.com" target="_blank">mail@rahulkadyan.com</a></span></p>

    <div id="footer-social-links" class="extra-space-16">
        <div class="unbreakable">
            <div class="sprite github-logo"></div>
            <a href="https://www.github.com/rahulkadyan" target="_blank" class="facebook">/rahulkadyan</a>
        </div>
        <br>
        <br>

        <div class="unbreakable">
            <div class="sprite google-plus-logo"></div>
            <a href="https://plus.google.com/u/0/112137708936363272750" target="_blank" class="facebook">+rahulkadyan</a>
        </div>
        <div class="unbreakable">
            <div class="sprite facebook-logo"></div>
            <a href="https://www.facebook.com/rahulkadyan" target="_blank" class="facebook">/rahulkadyan</a>
        </div>
        <div class="unbreakable">
            <div class="sprite twitter-logo"></div>
            <a href="https://twitter.com/rahulkadyan7" target="_blank" class="facebook">@rahulkadyan7</a>
        </div>
        <div class="unbreakable">
            <div class="sprite linkedin-logo"></div>
            <a href="http://www.linkedin.com/in/rahulkadyan" target="_blank"
               class="facebook">/in/rahulkadyan</a>
        </div>
    </div>
</div>
<div class="space"></div>
<footer>
    <p class="center-text" style="font-size: 1em">
        Copyright &copy; 2013 Rahul Kadyan. All Rights Reserved.
    </p>
</footer>
<div class="space"></div>