<!-- Foooter -->
<div id="connect" tag="connect" class="container center pull-in">
    <h1 class="center">Contact</h1>
    <div id="me-contact">
        <p style="color: #000">You can mail me at <a href="mailto:hi@znck.me" class="button invert"><i class="fa fa-inbox"></i> hi@znck.me</a>
        <br>or<br>
        You can find me at
            <a href="https://facebook.com/rahulkadyan" target="_blank" class="button invert">
                <i class="fa fa-facebook"></i> rahulkadyan
            </a>

            <a href="https://github.com/znck" target="_blank" class="button invert">
                <i class="fa fa-github-alt"></i> znck
            </a>

            <a href="https://google.com/+rahulkadyan" target="_blank" class="button invert">
                <i class="fa fa-google-plus"></i> +rahulkadyan
            </a>

            <a href="https://twitter.com/rahulkadyan7" target="_blank" class="button invert">
                <i class="fa fa-twitter"></i> @rahulkadyan7
            </a>
        </p>
        <div class="m4"></div>
        <div>
            Copyright &copy; 2014 Rahul Kadyan. All Rights Reserved.
        </div>
    </div>    
</div>
<!--/ Footer -->