<!-- navigation-wrapper -->
<div id="nav-bar" class="center pull-in pad-cl pad-cr _bt _bb">
    <div id="nav" class="menu-bar" data-menu-title="Rahul Kadyan">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/working">Working on</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</div>
