$brand-primary: #ff574a;
$brand-secondary: #b54b25;

$default-color: #2b2b2b;
$body-color: #2b2b2b;
$border-color: #efefef;

$enable-flex:               true !default;
$enable-rounded:            false !default;
$enable-shadows:            true !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

$tags: (
        laravel: #f4645f,
        php: #4F5B93,
        vue: #4fc08d,
);

$theme-colors: (
        'primary': $brand-primary,
        'secondary': $brand-secondary,
);
