$color-title: rgb(75, 75, 75);

$text-dark1: #000;
$text-dark1-1: #111;
$text-dark1-2: #222;
$text-dark2: #333;
$text-dark2-1: #444;
$text-dark2-2: #555;
$text-dark3: #666;
$text-dark3-1: #777;
$text-dark3-2: #888;
$text-light3: #999;
$text-light2-2: #aaa;
$text-light2-1: #bbb;
$text-light2: #ccc;
$text-light1-2: #ddd;
$text-light1-1: #eee;
$text-light1: #fff;

$nav-link-color: #acf;
$nav-hover-color: #fca;