.sprite {
    display: inline-block;
    overflow: hidden;
    background: url(../images/rahulkadyan-home.png) no-repeat;
}

.about-me300 {
    width: 300px;
    height: 288px;
    background-position: -2px -2px
}

.facebook-logo {
    width: 32px;
    height: 32px;
    background-position: -304px -2px
}

.github-logo {
    width: 32px;
    height: 32px;
    background-position: -338px -2px
}

.google-plus-logo {
    width: 32px;
    height: 32px;
    background-position: -372px -2px
}

.linkedin-logo {
    width: 32px;
    height: 32px;
    background-position: -406px -2px
}

.me {
    width: 150px;
    height: 150px;
    background-position: -440px -2px
}

.me300 {
    width: 300px;
    height: 300px;
    background-position: -2px -292px
}

.twitter-logo {
    width: 32px;
    height: 32px;
    background-position: -304px -292px
}
