<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body>

{% include navigation.html %}
<div class="line"></div>
<div   id="post" style="width: 800px; margin: 0 auto; color: #000">
<div class="space"></div>
  <nav class="pagination" role="navigation" style="width: 800px; height: 32px; color: #000">
      {% if page.previous %}
        <a style="float:left" href="{{ site.baseurl }}{{ page.previous.url }}#post" class="btn" title="{{ page.previous.title }}">&lsaquo; {{ page.previous.title }}</a>
      {% endif %}
      {% if page.next %}
        <a style="float:right" href="{{ site.baseurl }}{{ page.next.url }}#post" class="btn" title="{{ page.next.title }}">{{ page.next.title }} &rsaquo;</a>
      {% endif %}
    </nav><!-- /.pagination -->
          <h2 class="extra-space-rmat32 dark center-text"><a href="{{ site.baseurl }}{{ post.url }}#post">{{ page.title }}</a></h2>
        <div class="space"></div>

<div role="main" class="post">

  <article class="hentry">
    {% if page.image.feature %}<img src="{{ site.baseurl }}/assets/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <!-- <span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag | cgi_encode }}" title="Pages tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span> -->
        {% if page.link %}
          <h1 class="entry-title extra-space-32 dark center-text"><a href="{{ page.link }}">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 class="entry-title" style="font-size: 2em">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% endif %}
      </header>
      <footer class="entry-meta" style="font-size: 0.8em; color: #999; padding: 0 16px">
        <!-- <img src="{{ site.baseurl }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo"> --><!-- 
        <span class="author vcard">By <span class="fn"><a class="no-style" href="{{ site.baseurl }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span> -->
        <span class="entry-date date published"><time datetime="{{ page.date | date_to_xmlschema }}"><i class="icon-calendar-empty"></i> {{ page.date | date: "%B %d, %Y" }}</time></span>
        {% if site.disqus_shortname and page.comments %}<span class="entry-comments"><i class="icon-comment-alt"></i> <a href="#disqus_thread">Comment</a></span>{% endif %}
        <!-- <span><a class="no-style" href="{{ site.baseurl }}{{ page.url }}" rel="bookmark" title="{{ page.title }}"><i class="icon-link"></i> Permalink</a></span> -->
        {% if page.share %}
        <div style="display: inline-block; height: 32px; margin-left: 32px; color: #999">
        Share via
        <span class="social-share-facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}" title="Share on Facebook" itemprop="Facebook" class="no-style"><i class="share sprite facebook-logo"></i></a></span>
        <span class="social-share-twitter">
            <!-- The actual URL at ethe end of HREF will be added via Javascript -->
            <a class="no-style" href="https://twitter.com/intent/tweet?hashtags={{ page.categories | join: ',' }}&text={{ page.title }}&via={{ site.owner.twitter }}&url=" title="Share on Twitter" itemprop="Twitter"><i class="share sprite twitter-logo"></i></a></span>
        <span class="social-share-googleplus">
            <a class="no-style" href="https://plus.google.com/share?url=" title="Share on Google Plus" itemprop="GooglePlus"><i class="share sprite google-plus-logo"></i></a></span>
            </div><!-- /.social-share -->{% endif %}
      </footer>
      <div class="entry-content">
        {{ content }}
        <div class="space"></div>
        <nav class="pagination" role="navigation" style="width: 100%; color: #000">
          {% if page.previous %}
            <a style="float:left" href="{{ site.baseurl }}{{ page.previous.url }}#post" class="btn" title="{{ page.previous.title }}">&lsaquo; {{ page.previous.title }}</a>
          {% endif %}
          {% if page.next %}
            <a style="float:right" href="{{ site.baseurl }}{{ page.next.url }}#post" class="btn" title="{{ page.next.title }}">{{ page.next.title }} &rsaquo;</a>
          {% endif %}
        </nav><!-- /.pagination -->
        <div class="space"></div>


        {% if site.disqus_shortname and page.comments %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}
      </div><!-- /.entry-content -->

    </div><!-- /.entry-wrapper -->
  </article>
  </div>
  <div class="space"></div>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}	        

</body>
</html>